[Desktop Entry]
Name=HomeBank
Name[ar]=مصرف البيت
Name[ast]=HomeBank
Name[be]=HomeBank
Name[bg]=HomeBank
Name[br]=HomeBank
Name[ca]=HomeBank
Name[ckb]=ماڵەبانک
Name[cs]=HomeBank
Name[cy]=HomeBank
Name[da]=HomeBank
Name[de]=HomeBank
Name[el]=HomeBank
Name[en_AU]=HomeBank
Name[en_CA]=HomeBank
Name[en_GB]=HomeBank
Name[eo]=HejmBanko
Name[es]=HomeBank
Name[et]=HomeBank
Name[eu]=HomeBank
Name[fa]=HomeBank
Name[fi]=Kotipankki
Name[fr]=HomeBank
Name[fr_CA]=HomeBank
Name[gl]=HomeBank
Name[he]=HomeBank
Name[hr]=Homebank
Name[hu]=HomeBank
Name[id]=HomeBank
Name[is]=Heimabanki
Name[it]=HomeBank
Name[ja]=HomeBank
Name[ko]=홈 뱅크
Name[lt]=HomeBank apskaita
Name[lv]=HomeBank
Name[ms]=HomeBank
Name[nb]=HjemmeBank
Name[nds]=HomeBank
Name[nl]=HomeBank
Name[oc]=HomeBank
Name[pl]=HomeBank
Name[pt]=HomeBank
Name[pt_BR]=HomeBank
Name[pt_PT]=HomeBank
Name[ro]=HomeBank
Name[ru]=HomeBank
Name[si]=HomeBank
Name[sk]=HomeBank
Name[sl]=HomeBank
Name[sr]=Кућна Банка
Name[sv]=HomeBank
Name[ta]=இல்லவங்கி
Name[tr]=HomeBank
Name[uk]=HomeBank
Name[vi]=HomeBank
Name[zh_CN]=HomeBank
Name[zh_TW]=HomeBank
GenericName=Personal finance
GenericName[ar]=حساباتي
GenericName[be]=Асабістыя фінансы
GenericName[bg]=Лични финанси
GenericName[br]=Kellidoù personel
GenericName[ca]=Finances personals
GenericName[ckb]=دارایی تاکەکەسی
GenericName[cs]=Osobní finance
GenericName[cy]=Arian personol
GenericName[da]=Privatøkonomi
GenericName[de]=Persönliche Finanzen
GenericName[el]=Προσωπικά οικονομικά
GenericName[en_GB]=Personal finance
GenericName[es]=Finanzas personales
GenericName[eu]=Finantza pertsonalak
GenericName[fa]=امور مالی شخصی
GenericName[fi]=Henkilökohtaista varainhoitoa
GenericName[fr]=Finances personnelles
GenericName[fr_CA]=Finances personnelles
GenericName[gl]=Finanzas persoais
GenericName[he]=מימון אישי
GenericName[hu]=Személyes pénzügyek
GenericName[id]=Keuangan pribadi
GenericName[it]=Finanze Personali
GenericName[ja]=家計簿
GenericName[ko]=개인 금융
GenericName[lt]=Namų buhalterija
GenericName[ms]=Kewangan peribadi
GenericName[nb]=Personlig Økonomi
GenericName[nds]=Persönliche Finanzen
GenericName[nl]=Persoonlijke boekhouding
GenericName[pl]=Zarządzanie finansami osobistymi
GenericName[pt]=Finanças Pessoais
GenericName[pt_BR]=Finanças pessoais
GenericName[ro]=Finanțe personale
GenericName[ru]=Личные финансы
GenericName[sk]=Osobné financie
GenericName[sl]=Osebne finance
GenericName[sr]=Личне финансије
GenericName[sv]=Privatekonomi
GenericName[ta]=தனிநபர் நிதி
GenericName[tr]=Kişisel finans
GenericName[uk]=Особисті фінанси
GenericName[vi]=Tài chính cá nhân
GenericName[zh_CN]=个人理财
GenericName[zh_TW]=個人財務
Comment=Free, easy, personal accounting for everyone
Comment[ar]=مجاني وسهل الاستخدام لجميع الناس
Comment[be]=Бясплатны, просты, асабісты ўлік для ўсіх
Comment[br]=Jederezh personel, digoust hag aes evit an holl
Comment[ca]=Comptabilitat personal, lliure i senzilla per a tothom.
Comment[ckb]=خۆڕایی، ئاسان ، ژمێریاری تاکەکەسی بۆ هەمووان
Comment[cs]=Jednoduché, osobní účetnictví zdarma pro každého
Comment[cy]=Cyfrifo personol hawdd i bawb - yn rhydd a rhad
Comment[da]=Personlig, nem og gratis økonomistyring for alle
Comment[de]=Kostenlose und einfache Kontenverwaltung für alle
Comment[el]=Δωρεάν, εύκολη, διαχείριση των προσωπικών σας οικονομικών
Comment[en_GB]=Free, easy, personal accounting for everyone
Comment[es]=Contabilidad personal fácil y gratis para todos
Comment[eu]=Kontabilitate pertsonala doan eta erraz edonorentzat
Comment[fa]=آزاد,آسان,برنامه حسابداری شخصی برای همه
Comment[fi]=Avointa, ilmaista ja helppoa henkilökohtaista kirjanpitoa kaikille
Comment[fr]=La comptabilité personnelle, gratuite et facile pour tous
Comment[fr_CA]=La comptabilité personnelle, gratuite et facile pour tous
Comment[gl]=Contabilidade persoal, libre e fácil para todos.
Comment[he]=ראיית חשבונות אישית חופשית, קלה ופשוטה לכולם
Comment[hu]=Ingyenes, egyszerű, személyi pénzügyi program mindenkinek
Comment[id]=Akuntasi pribadi yang mudah dan gratis untuk semua orang
Comment[it]=Gestione facile e gratuita della contabilità personale
Comment[ja]=無料で使いやすい、みんなの家計簿
Comment[ko]=모두를 위한 쉬운 무료 개인 회계
Comment[lt]=Laisva ir paprasta asmeninių finansų apskaita kiekvienam
Comment[ms]=Perakaunan peribadi untuk semua orang yang mudah dan percuma
Comment[nb]=Gratis, enkelt, personlig regnskap for alle
Comment[nds]=Frei, sehr einfach zu bedienen, persönliche Buchhaltung für jedermann
Comment[nl]=Gratis en eenvoudige persoonlijke boekhouding voor iedereen
Comment[pl]=Bezpłatna i łatwa księgowość osobista dla każdego
Comment[pt]=Contabilidade pessoal gratuita e fácil para toda a gente
Comment[pt_BR]=Contabilidade pessoal fácil e gratuita para todos
Comment[ro]=Gratuit, ușor de folosit, contabilitate personală pentru fiecare
Comment[ru]=Бесплатный и удобный учёт личных финансов для всех
Comment[sk]=Jednoduché, osobné účtovníctvo zdarma pre každého
Comment[sl]=Brezplačno in enostavno računovodstvo za vsakogar
Comment[sr]=Бесплатно, лако, лично рачуноводство за свакога
Comment[sv]=Gratis, enkel, personlig bokföring för alla
Comment[ta]=அனைவருக்கும் இலவச, எளிதான, தனிப்பட்ட கணக்கு
Comment[tr]=Herkes için ücretsiz kolay ve kişisel muhasebe
Comment[uk]=Безкоштовна, проста бухгалтерія для кожного
Comment[vi]=Kế toán cá nhân miễn phí, dễ dàng cho tất cả mọi người
Comment[zh_CN]=免费、方便、适合所有人的个人财务软件
Comment[zh_TW]=自由易用的個人財務管理
Keywords=finance;accounting;budget;personal;money;
Keywords[ar]=مالي;محاسبة;ميزانية;شخصي;نقدي;
Keywords[be]=фінансы;ўлік; бюджэт; асабістае; грошы;
Keywords[br]=kellidoù;kontoù;kellidsteuñv;personel;arc'hant;
Keywords[ca]=finances;comptabilitat;pressupost;personal;diners;
Keywords[ckb]=دارایی;ژمێریاری;موچە;کەسایەتی;پارە;
Keywords[cs]=finance,účetnictví,rozpočet,osobní,peníze
Keywords[cy]=cyllid;cyfrifo;cyllidebu;personol;arian;
Keywords[da]=økonomi;regnskab;budget;personlig;penge;
Keywords[de]=Finanzen;Buchungen;Budget;Persönliches;Geld;
Keywords[el]=οικονομικά;λογιστική;προϋπολογισμός;προσωπικά;χρήματα;
Keywords[en_GB]=finance;accounting;budget;personal;money;
Keywords[es]=finanzas;contabilidad;presupuesto;personal;dinero;
Keywords[eu]=finantzak;kontabilitatea;aurrekontua;pertsonala;dirua;
Keywords[fa]=امور مالی؛ حسابداری؛ بودجه؛ شخصی؛ پول؛
Keywords[fi]=finance;accounting;budget;personal;money;finanssi;kirjanpito;talous;budjetti;raha;
Keywords[fr]=finances;comptabilité;budget;personnel;argent ;
Keywords[fr_CA]=finances;comptabilité;budget;personnel;argent ;
Keywords[gl]=finanzas;contabilidade;orzamento;persoal;diñeiro
Keywords[he]=מימון;פיננסים;חשבונאות;תקציב;אישי;כסף;
Keywords[hu]=pénzügy;könyvelés;költségvetés;személyes;pénz;
Keywords[id]=keuangan;akuntansi;anggaran;pribadi;uang;
Keywords[it]=finanza;contabilità;bilancio;personale;soldi;
Keywords[ja]=ファイナンス;会計;家計簿;予算;個人向け;お金
Keywords[ko]=금융;회계;예산;개인;돈;
Keywords[lt]=finansai;apskaita;biudžetas;asmeninė;pinigai;namai;šeimos;bankas;
Keywords[ms]=kewangan;perakaunan;bajet;peribadi;wang;
Keywords[nb]=økonomi;regnskap;budsjett;personlig;penger;
Keywords[nl]=financiën;boekhouding;budget;persoonlijk;geld;
Keywords[pl]=finanse;księgowość;budżet;osobiste;pieniądze;
Keywords[pt]=finanças;contabilidade;orçamento;pessoal;dinheiro;
Keywords[pt_BR]=finanças;contabilidade;orçamento;pessoal;dinheiro;
Keywords[ro]=finante;contabilitate;buget;personal;bani;
Keywords[ru]=финансы;учет;бюджет;личное;деньги;
Keywords[sk]=financie;účtovníctvo;rozpočet;osobné;peniaze;
Keywords[sl]=finance;računovodstvo;denar;budget;osebno;banka;
Keywords[sr]=финансије;обрачун;буџет;лично;новац;
Keywords[sv]=finanser;bokföring;budget;personlig;pengar;
Keywords[ta]=நிதி; கணக்கியல்; வரவு செலவு திட்டம்; தனிப்பட்ட; பணம்
Keywords[tr]=finans;muhasebe;bütçe;kişisel;para;
Keywords[uk]=фінанси;облік;бюджет;особисте;гроші
Keywords[vi]=tài chính;kế toán;ngân sách;cá nhân;tiền;
Keywords[zh_CN]=财务，会计，预算，个人，现金
Keywords[zh_TW]=財務;會計;預算;個人;錢;
Exec=homebank %f
Terminal=false
StartupNotify=true
Type=Application
Icon=homebank
Categories=GNOME;GTK;Office;Finance;
MimeType=application/x-homebank;
